@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-primary;
}

#app {
  @apply text-white;
}

.section {
  @apply w-full;
}

.title {
  @apply my-0 lg:my-3 text-left border-b-2 border-solid py-2 border-secondary;
}

.info-title {
  @apply uppercase opacity-70 w-full block;
}
